<h1>Is a Bus Nearby?</h1>

<p>
Give us your address or approximate location (<en> I'm at the corner of..</en>), and we'll let you know if there's a bus in the vicinity.
</p>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
